<div>
  <script id="frame" type="text/template">
    <div class="combatSimulator">
      <div class="simulation"></div>
      <div class="combatants"></div>
      <div class="buttons"></div>
    </div>
  </script>


  <script id="buttons" type="text/template">

  </script>


  <script id="combatants" type="text/template">
    <div class="attacker">
      <% _.each(attackers, function(char) { %>
        <div class="characterLine charInfo <%= char.name %>" >
          <%= char.name %> ( <span class="currentHealth"> <%= char.health %> </span> / <%= char.maxHealth %>)
          <% if(attackers.playable == true){ %>
          <div class="buttons">
            <a href="#" class="setAttack" data-char="<%= char.name %>">attack</a>
            <a href="#" class="setDefend" data-char="<%= char.name %>">defend</a>
            <a href="#" class="setFlee" data-char="<%= char.name %>">flee</a>
            <a href="#" class="setHide" data-char="<%= char.name %>">hide</a>
          </div>
          <% } %>
        </div> <% });
      %>
    </div>
    <div class="defender">
      <% _.each(defenders, function(char) { %>
        <div class="characterLine charInfo <%= char.name %>">
          <%= char.name %> (<span class="currentHealth"><%= char.health %></span> / <%= char.maxHealth %>)
          <% if(defenders.playable == true){ %>
          <div class="buttons">
            <a href="#" class="setAttack" data-char="<%= char.name %>">attack</a>
            <a href="#" class="setDefend" data-char="<%= char.name %>">defend</a>
            <a href="#" class="setFlee" data-char="<%= char.name %>">flee</a>
            <a href="#" class="setHide" data-char="<%= char.name %>">hide</a>
          </div>
          <% } %>
        </div> <% });
      %>
    </div>
    <div class="options">
      <a href="#" class="fight">FIGHT</a>
    </div>
  </script>


  <script id="action" type="text/template">
    <div class="combatView">
      <% _.each(attackers, function(char) { %>
        <div class="characterAvatar attacker <%= char.name %>" >
          <img src="<%= char.img %>" id="img_<%= char.name %>" class=""/>
          <div class="damage"></div>
          <div class="status"></div>
        </div>
      <% }); %>

      <% _.each(defenders, function(char) { %>
        <div class="characterAvatar defender <%= char.name %>">
          <img src="<%= char.img %>" id="img_<%= char.name %>" class=""/>
          <div class="damage"></div>
          <div class="status"></div>
        </div>
      <% });%>
    </div>
  </script>
</div>
