<div>
  <script id="frame" type="text/template">
    <div class="characterSheet">
      <div class="info">
        <div class="name"><%= name %></div>
        <div class="image"><img src="<%= img %>" /> </div>
        <div class="alignment"> <%= alignment %> </div>
        <div class="currentHealth"><%= health %> hp </div>
        <div class="currentStamina"><%= stamina %> sp </div>
      </div>
      <div class="stats">
        <div class="strenght"><span class="title">strenght</span><span class="value"><%= strenght %></span></div>
        <div class="agility"><span class="title">agility</span><span class="value"><%= agility %></span></div>
        <div class="stealth"><span class="title">stealth</span><span class="value"><%= stealth %></span></div>
        <div class="vision"><span class="title">vision</span><span class="value"><%= vision %></span></div>
        <div class="speed"><span class="title">speed</span><span class="value"><%= speed %></span></div>
        <div class="maxStamina"><span class="title">maxStamina</span><span class="value"><%= maxStamina %></span></div>
        <div class="maxHealth"><span class="title">maxHealth</span><span class="value"><%= maxHealth %></span></div>
      </div>
      <div class="perks">

      </div>

      <a class="button close">close</a>
    </div>
  </script>

</div>
