#availableActions {
  position: fixed;
  bottom: 15px;
  width: 300px;
  right: 0;
  padding: 10px;

  opacity: 0.9;
}

#availableActions a {
  min-width: 90px;
  background-color: #ccc;
  padding: 10px;
  margin:10px;
  font-size: 12px;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
  opacity: 0.9;
}
#availableActions a.talk {
  background-color: #CFC;
}

#availableActions a.fight {
  background-color: #FCC;
}
