.characterSheet {
  max-width: 500px;
  padding: 20px;
  margin:3em, auto;
  background-color: #DDD;
  border-radius: 3px;
  color: #420;
}

.characterSheet .info,
.characterSheet .stats,
.characterSheet .perks {
  display: inline-block;
  width: 100%;
  float: left;
  margin-top: 1em;
}

.characterSheet .info .name {
  width: 75%;
  font-size: 25px;
  float:left;
}

.characterSheet .info .image {
  width: 25%;
  float:right;
}
.characterSheet .info .image img{
  width: 100%;
  border: 1px solid #420;
}

.characterSheet .info .alignment {
  width: 10%;
  font-size:12px;
  float: left;
}

.characterSheet .info .currentHealth {
  width: 10%;
  font-size:12px;
  float:left;
  color: #191;
}

.characterSheet .info .currentStamina {
  width:10%;
  font-size:12px;
  float:left;
  color: #961;
}

.characterSheet .stats > div {
  width: 30%;
  margin-right: 1%;
  float:left;
}

.characterSheet .stats > div .title {
  width: 60%;
  float:left;
  text-align: right;
}

.characterSheet .stats > div .value {
  width: 30%;
  float:right;
}

