body {
  font-family: verdana, courier, arial;
}

#mainMap {
  width: 100%;
  height: 100%;
  background-color: #999;
}

#mainLog {
  position: fixed;
  bottom: 0;
  width: 500px;
  height: 100px;
  padding: 10px;
  overflow-y: auto;
  margin-left: auto;
  background-color: #FFF;
  opacity: 0.8;
}

.modalWindow {
  width: 100%;
  height: 100%;
  background-color: #531;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: none;
  z-index: 2000;
}

.tile {
  fill-opacity: 0.4;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-width: 3px;
  width: 10px;
  marker-opacity: 0.8;
  marker-allow-overlap: false;
  marker-placement: point;
  marker-type: ellipse;
  marker-width: 2;
  marker-line-width: 9;
  marker-fill: #FFF;
  marker-line-opacity: 0.8;
  marker-height:4;
  marker-ignore-placement: true;
  marker-spacing: 100px;
}

.character {
  stroke-width: 2;
  stroke: #666;
}

.character.selected {
  stroke: #FF9;
}

.character.good {
  fill: #009900;
}

.character.evil {
  fill: #220000;
}

.button {
  min-width:30px;
  min-height:20px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #333;
  color: #CCC;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding:5px 10px 2px;
}
